@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);

    h1{
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
    }
    
    p{
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
    }

    .container{
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
    
        .container-card{
            background-color:hsl(0, 0%, 100%);
            width: 20rem;
            height: 30rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            border-radius: 3%;
            box-shadow: 0 0 25px #0000002d;
            overflow: hidden;
    
            .container-card-img{
                width: 90%;
                height: 55%;
                background-image: url("/qr-code-component-main/images/image-qr-code.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin: 1rem;
                border-radius: 3%;
            }
        }
    
        .container-card-info{
            
            h1{
                font-size: 1.5rem;
                margin: 1rem 1rem  0;
                text-align: center;
            }
    
            p{
                font-size: 15px;
                text-align: center;
                margin: 1.3rem;
                margin-top: 1rem;
            }

        }
        
    }
    
}



